<div class="container">
          <div class="row border border-primary">
         
          <div class="row">{{blogDetail.id}}</div>
          <div class="row">{{blogDetail.user.user_name}}</div>
          <div class="row">{{blogDetail.blog_title}}</div>
          <div class="row">{{blogDetail.blog_text}}</div>
          <div class="row">{{blogDetail.comments.[0].comment_text}}</div>
          <div class="row">{{blogDetail.comments.[0].comment_date}}</div>
          <div class="row">{{blogDetail.comments.[0].user.username}}</div>
          
        </div>
      
           
        
      </div >