<div class="container mt-5">
          <div class="row border border-primary">
         
          <div class="row fs-4 fw-bold">{{blogDetail.blog_title}}</div>
          <div class="row fs-4 fw-bold">by: {{blogDetail.user.user_name}}</div>
          <div class="row fs-3" name="blog-detail" id="{{blogDetail.id}}">{{blogDetail.blog_text}}</div>
                    
        </div>
        {{#if blogCommentsArray}}
        <p class ="mt-5 ms-5 fs-5 fw-bold">User Comments</p>
      <dir class="row border border-primary mx-5">
           {{#each blogCommentsArray as |commentsX|}}
            {{> blog-comments}}
              {{/each}}
        </dir>
        {{/if}}
        <dir class="d-grid gap-2 col-6 mx-auto">
          <form class="new-comment-form" name="new-comment" id="{{user_id}}">
                                              
                  <label for="comment" class=" fs-4 fw-bold">
                    Comment:
                  </label>
                  <br/>
                  <textarea name ="comment_text" id="comment_text"cols="100" rows="5">{{comment_text}}</textarea>
                  <br/>
                <button type="submit" value="Submit" class="btn btn-primary">Add A Comment</button>
              </form>
          </dir>      
      </div >

<script src="/js/add-comment.js"> </script>
