


<dir class="d-grid gap-2 col-6 mx-auto">
    <form name="edit-blog" class="edit-entry-form" id="{{user_id}}" blogID="{{blogDetail.id}}">
        <label for="entry-title">
           Blog Title:
              </label><br/>
                    <textarea name="entry-title" id="entry-title" cols="50" rows="1">{{blogDetail.blog_title}}</textarea>
                    <br/>
                  
                  <label for="entry-text">
                    Blog Text :
                  </label>
                  <br/>
                  <textarea name ="entry-text" id="entry-text"cols="50" rows="3">{{blogDetail.blog_text}}</textarea>
                  <br/>
                <button type="submit" value="Submit" id="edit-btn" class="btn btn-warning">Update This Blog Post</button>
                <button type="submit" value="Submit" id="delete-btn" class="btn btn-danger" blog_ID="{{blogDetail.id}}">Delete This Blog Post</button>
                <button type="submit" value="Submit" id="cancel-btn" class="btn btn-primary" >Cancel</button>
              </form>
              <form>
                   
                
          </form>
          </dir>      

          <script src="/js/edit-entry.js"> </script>
          <script src="/js/delete-entry.js"> </script>
          <script src="/js/cancel.js"> </script>